/**********************************

Name: signup Styles

***********************************/
form.cmxform {
	width: 770px;
	font-size: 12px;
	color: #333;
}
form.cmxform label.error, label.error { 
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style:normal;
}
div.error { display: none; }
input {	border: 1px solid black; }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }